/* Исправил валидацию и отступы */
header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding-top: 92px;
  padding-left: 24px;
  padding-bottom: 92px;
  padding-right: 24px;
}
.header_menu {
  display: flex;
  justify-content: center;
  padding-right: 20px;
}

.header__links-list {
  display: flex;
  gap: 36px;
  list-style-type: circle;
}

.links-list {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-underline-offset: 4px;
  text-align:justify;
}

.main_link_marker {
  list-style-type: none;
}

.link_main {
  text-decoration: none;
}

.header_logo {
    width: 148px;
    height: 105px;
}

.address {                 /* Исправил класс, чтобы его использовать  его в футере */
  font-size: 18px;
  line-height: 24.3px;
  font-family: 'Raleway', sans-serif;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  font-style: normal;
}

.header__address {        /* Добавил дополнительный класс для выравнивания блока */
padding-left: 184px;
list-style-type: none;
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  color: white;
  text-transform: uppercase;
  z-index: 0;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 757px;     /* Задал min-height */
}
.overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: -1;
}
.cover_title{
  font-size: 100px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 30px;
  line-height: 115%;
}
.aligned-text {
  display: flex;
  flex-direction: column;
  gap:20px;
  padding-top: 165px;
  padding-right: 20px;
  padding-left: 50px;
  padding-bottom: 107px;
}

.aligned-text_left{
  align-self: flex-start;
  text-align: center;
}

.aligned-text_center{
  align-self: center;
  
}
.aligned-text_right{
  align-self: flex-end;
  
}
.cover_description {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  gap: 75px;
  padding-top: 0px;
  padding-right: 15px ;
  padding-left: 22px ;
  padding-bottom: 50px;
}

.cover_text {
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  word-spacing: 18px;
}

.button-bet {
  width: 256px;
  height: 51px;
  border: 1px solid white;
  background-color: transparent;
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 22px;
  line-height: 51px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.lots{
 margin-top: 180px;
}

.lots__litle{
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 26px;
  padding-left: 64px;
}

.lots_list{
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style-type: none;

}
.container_lots{
  display: flex;
  flex-wrap: wrap;         /* Добавил wrap */
  gap: 25px;
  justify-content: flex-start; 
  padding: 0; 
  margin: 0 auto;
  margin-left: 25px;
}

.card {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
  padding: 51px 40px 48px;
  justify-content: space-between;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 334px;       /* Задал через min и max ширину и высоту */
  min-height: 596px;
}

.card-link {
text-decoration: none;
}

.card__title {
  color:white;
  font-size:22px;
  text-transform: uppercase;
  line-height: 120%;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.card__text {
  color:white;
  font-size:20px;
  font-weight: 400;
  line-height: 120%;  
}

.card_type_film{
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book{
  background-image: url(../images/card-lot-02.jpg);
    
}

.card_type_picture{
  background-image: url(../images/card-lot-03.jpg);
}

.see_more{
  display: block;
  text-underline-offset: 2px;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.48px;
  color: black;
  padding-top: 35px;
  padding-left: 62px;
}
  
.about {
  margin-top:120px;
}

.about__column{
  display: grid;
  grid-template-columns: 334px repeat(1, 1fr);
  gap: 25px;
  padding: 34px 24px 0px;
}

.image__logo {
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  background-color: black;
  border-radius: 50%;
  width: 240px;
  height: 240px;
}

.about__logo-image{
  width: 148px;
  height: 114px;
}

.about__title {
text-transform: uppercase;
color: black;
font-weight: 700;
font-size: 40px;
padding-bottom: 100px;
}

.content { 
  padding-top: 100px;
  min-width: 693px;
  min-height: 312px;
}

.about__text{
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-self: flex-start;
}
  
.text {
 font-family: "Raleway", sans-serif;
  color: black;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
 
}
.text_width {
  padding-right: 5px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: start;
  padding: 180px 24px 100px;
  gap: 140px;
}

.footer_address {   /* Добавил доп класс для выравнивания и переназначил .address */
  padding-left: 20px;
  justify-self: flex-start;
  list-style-type: none;

}

.footer__menu {
padding-left: 5px;
}

.footer__menu-list {
  list-style-type: none;
  text-underline-offset: 3px;
}

.footer__menu-list-item {
  color: black;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}

.footer__menu-link_active {
  text-decoration: none;
}
.footer_images {
  display: flex;
  justify-content: center;
  gap: 48px;
  padding-left: 7px;
  
}
.images_footer_icon {
  width: 48px;
  height: 48px;
}

